<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-segment
        [value]="tempUnit$ | async"
        (ionChange)="toggleTempUnit($event)"
      >
        <ion-segment-button value="C"> &deg;C </ion-segment-button>
        <ion-segment-button value="F"> &deg;F </ion-segment-button>
      </ion-segment>
    </ion-buttons>
    <ion-title> Cape Town weather </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cape Town</ion-card-subtitle>
      <ion-card-title
        >{{ getWeather() }}{{ currentTemp() }}&deg;{{ getUnit()
        }}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>Description: {{ weatherDesc$ | async }}</ion-item>
        <ion-item>Summary: {{ weatherSummary$ | async }}</ion-item>
        <ion-item>Temp: {{ weatherTemp$ | async }}</ion-item>
      </ion-list></ion-card-content
    >
  </ion-card>
</ion-content>
